@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');

:root {
  --violet: rgb(48, 18, 117);
  --black: rgb(3, 3, 3);
  --blue: #54b5b7;
  --lilas: rgb(193, 167, 255);
}


*{
    font-family: "M PLUS Code Latin";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  